@import '../../style.scss';

.outer-container {
    .title {
        background: #3074AF;
        border: 2px solid #3074AF;
        border-radius: 20px;
        box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
        color: white;
        width: 30%;
        min-width: 700px;
        margin: 20px auto 20px auto;
        padding: 20px;
    }
}
