@import '../../style.scss';

.outer-container {
    max-width: 700px;
    margin: auto;

    .calculator-box {
        border: 2px solid #3074AF;
        box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
        border-radius: 20px;
        padding-top: 20px;
        background-color: white;
        margin-top: 15px;

        .terms-and-conditions {
            text-align: left;
            padding: 0px 20px 20px 20px;
        }
    }
}

.outer-container-left {
    width: 44%;

    @media (max-width: 700px) {
        width: 88%;
    }

    margin-left: 5%;
    margin-top: 15px;
    .calculator-box {
        border: 2px solid #3074AF;
        box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
        border-radius: 20px;
        padding-top: 20px;
        background-color: white;
        
        .header-legend {
            text-align: left;
            padding-left: 20px;
            cursor: pointer;
        }

        .form-group {
            margin: 10px auto 10px auto;
            padding: 10px;
            width: 90%;
        }

        .info-icon {
            width: 20px;
            float: left;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-left: 15px;
            float: left;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .button-container {
            margin-bottom: 10px;
        }
    }
}

.tooltip-element {
    position: relative;
}

.tooltip-element .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 95%;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip-element:hover .tooltip-text {
    visibility: visible;
}

.outer-container-right {
    width: 44%;
    @media (max-width: 700px) {
        display: none;
    }

    margin-right: 5%;
    float: right;
    position: fixed;
    right: 15px;
    top: 80px;
    

    .calculator-box {
        border: 2px solid #3074AF;
        box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.5);
        border-radius: 20px;
        padding-top: 20px;
        background-color: white;

        .header-legend {
            text-align: left;
            padding-left: 20px;
        }

        .results-summary {
            margin: 0px 40px 20px 40px;
            font-size: 1.02em;
            text-align: left;
        }

        .social-security-results {
            margin: 0px 40px 20px 40px;
            font-size: 1.02em;
            text-align: left;
        }

        .saving-plan-results {
            margin: 0px 40px 20px 40px;
            font-size: 1.02em;
            text-align: left;
        }
    }
}
