//Screen Size Breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg-tablet: 1024px;
$screen-lg: 1200px;

//Amway Specific Colors (According to design guide)
$primary: #ffffff;
$secondary: #002f5f;
$tertiary: #eb174b;
$quaternary: #008fc5;
$quinary: #ededed;
$opacity: #002f5f;
$alt-color-1: #27a248;
$alt-color-2: #b9b309;
$alt-color-3: #fad000;
$alt-color-4: #731472;
$alt-color-5: #e99619;
$alt-color-6: #9a8c7e;


//Income Overview piechart colors
$performanceColor: #7CB5EC;
$rubyColor: #434348;
$depthColor: #90ED7D;
$leadershipColor: #F7A35C;
$internationalLeadershipColor: #8085E9;
